@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: lightgray;
    margin:0%;
    padding:0%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 2em;
}
/*Header grid*/
.grid {
    display: grid;
    width: 100%;
    background-color: grey;
    position: fixed;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "logo nav";
}
/*grid for about*/
#gridom {
    background-image: url("banner.webp");
}
/*logo for about*/
#gridom #logo {
    width: 150px;
}
#logo {
    margin-left: 30%;
    margin-top: 5%;
    grid-area: logo;
  }
nav {
    padding-top: 2%;
    position: relative;
    grid-area: nav;
}
/*Nav bar- sourse  https://www.w3schools.com/css/css_navbar_horizontal.asp*/
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
  }
li {
    display: inline;
  }
/*The buttons*/
.navlink {
    background-color: #9e1e1e;
    color: lightgray;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 2px  solid black;
    display: inline-block;
    max-width:60px;
    min-width: 60px;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ; /*https://www.w3schools.com/css/css3_buttons.asp*/    
  }
  .navlink:hover {
    color: black;
  }
  .navlink:active {
    background-color: white;
    color: black;
  }
  .navlink:visited {
    background-color: #bc3b3b;
 }
  /*The articles*/
  /*Main article grid*/
.gridart {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    ". carrots rats christmas ."
    "footer footer footer footer footer";
}
article {
    padding: 0%;
    margin: 0%;
    margin-top:12em;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15%;
}
/*Carrot Article*/
#morotter {
    grid-area: carrots;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "arth"
    "img"
    "date"
    "atext";
    height: 10%;
}
#morotter .arthead{
    grid-area: arth;
    padding: 0%;
    margin: 0%;
    font-size: 2em;
}
#morotter img {
    grid-area: img;
    padding: 0%;
    margin: 0%;
    margin-top: 4em;
}
#morotter .date {
    grid-area: date;
    padding: 0%;
    margin: 0%;
    margin-top: 2em;
    font-size: 1.2em;
}
#morotter .text {
    grid-area: atext;
    padding: 0%;
    margin: 0%;
    margin-top: 2em;
    font-size: 1.3em;
}
/*Rats Article*/
#tamrattor {
    grid-area: rats;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "arth"
    "img"
    "date"
    "atext";
    height: 55%;
}
#tamrattor .arthead{
    grid-area: arth;
    padding: 0%;
    margin: 0%;
    font-size: 2em;
}
#tamrattor img {
    grid-area: img;
    padding: 0%;
    margin: 0%;
    margin-top: 4em;
}
#tamrattor .date {
    grid-area: date;
    padding: 0%;
    margin: 0%;
    margin-top: 2em;
    font-size: 1.2em;
}
#tamrattor .text {
    grid-area: atext;
    padding: 0%;
    margin: 0%;
    margin-top: 1.4em;
    font-size: 1.3em;
}
/*Christmas Article*/
#jul {
    grid-area: christmas;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "arth"
    "img"
    "date"
    "atext";
}
#jul .arthead{
    grid-area: arth;
    font-size: 2em;
    padding: 0%;
    margin: 0%;
}
#jul img {
    grid-area: img;
    padding: 0%;
    margin: 0%;
    margin-top: 6em;
}
#jul .date {
    grid-area: date;
    padding: 0%;
    margin: 0%;
    margin-top: 2em;
    font-size: 1.2em;
}
#jul .text {
    grid-area: atext;
    padding: 0%;
    margin: 0%;
    margin-top: 1.5em;
    font-size: 1.3em;
}
/*Footer, is a grid*/
footer {
    grid-area: footer;
    margin: 0%;
    display: grid;
    background-color: grey;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "fh2"
    "name"
    "date";
}
footer h2 {
    grid-area: fh2;
    text-align: center;
    margin-top: 3%;
}
#name {
    grid-area: name;
    text-align: center;
    margin: 0%;
    font-size: 24px;
}
#date {
    grid-area: date;
    text-align: center;
    margin: 0%;
    margin-bottom: 2%;
}
/*hamburger meny*/
 /*Sourse David Frendin*/
.hamburger ul {
    display: none;
    position: absolute;
    right: 0;
    top: 2em;
    max-width: 100%;
    width: 500px;
}
.hamburger ul li {
    display: block;
}
.hamburger ul li a {
    display: block;
    padding: .5em;
    background: darkgray;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border:3px solid #393939;

}
.hamburger:hover ul {
    display: block;
}

/*Coursers*/
/*Main grid*/
.gridartCo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    min-height: 100vh;
    grid-template-areas: 
    "tab1 tab2"
    "footer footer";
}
table {
    background-color: #bababa;
}
thead th {
    font-size: 20px;
    background-color:#393939;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}
tbody td {
    text-align: center;
    font-size: 20px;
    background-color:#494949;
    padding-top: 1em;
    padding-bottom: 0.6em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}
tfoot td {
    font-size: 20px;
    background-color:#393939;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: center;
}   
#table1 {
    grid-area: tab1;
    margin-top: 15em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: 20em;
}
#table2 {
    grid-area: tab2;
    margin-top: 15em;
    margin-bottom: 10em;
    margin-right: auto;
    margin-left:auto;
    width: 35vw;
    height: 20em;
}

/*pictures*/

#gridartpi {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    min-height: 100vh;
    grid-template-areas: 
    "picnav pic1 pic2"
    "footer footer footer";
}
.picture1 {
    grid-area: pic1;
    object-fit: scale-down;
    max-width: 30vw;
    min-width: 6em;
    margin:auto;
    margin-top: 200px;
    margin-top: 200px;
    margin-bottom: 100px
}
.picture2 {
    grid-area: pic2;
    object-fit: scale-down;
    max-width: 30vw;
    min-width: 6em;
    margin:auto;
    margin-top: 200px;
}
/*Navigation for underpages*/
.picnav {
    grid-area: picnav;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "ulpic";
    margin-bottom: 100px;
}
#ulpic {
    grid-area: picnav;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "1"
    "2"
    "3";
}
.picnavbutt {
    
    background-color: #9e1e1e;
    color: lightgray;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    border: 2px  solid black;
    max-width:60px;
    min-width: 60px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ; /*https://www.w3schools.com/css/css3_buttons.asp*/    
}
#pic1 {
    grid-area:1 ;
    margin: 0%;
}
#pic2 {
    margin: 0%;
    grid-area:2 ;
}
#pic3 {
    margin: 0%;
    grid-area: 3;

}

/*contct*/

#gridartcon {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    min-height: 100vh;
    grid-template-areas: 
    "conme"
    "conform"
    "footer";
}
#contactme {
    grid-area: conme;
    margin-top: 200px;
    font-size: 30px;
    text-align: center;
}
/*Contact form sourse w3school.com*/
#contactform {
    grid-area: conform;
    display: grid;
    grid-template-areas: 
    "field";
}
fieldset { 
    grid-area: field;
    background-color:lightgray ;
    border: 5px solid  #9e1e1e;
    margin:0%;
    padding:0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
#submit {
    margin:15px;
    background-color: #9e1e1e;
    color: lightgray;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 2px  solid black;
    float:inline-start;
    min-width: 60px;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ; /*https://www.w3schools.com/css/css3_buttons.asp*/  
}
#reset {
    margin:15px;
    background-color: #393939;
    color: lightgray;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 2px  solid black;
    float:right;
    min-width: 60px;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ; /*https://www.w3schools.com/css/css3_buttons.asp*/  
}
label {
    margin-left: 1em;
}
textarea {
    margin-top: 1em;
}

/*About*/
#gridartabout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: 40% 50% 10%;
    grid-template-areas: 
    "jag om ."
    "jag pres ."    
    " footer footer footer";
}
#ommig {
    display: flex;
    float: left;
    grid-area: om;
    margin-top: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    font-size: 40px;
    margin-bottom: 60px;
}
#pres {
    float: left;
    grid-area: pres;
    text-align: center;
    max-width: 50vw;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 150px;
}
#jag {
    grid-area: jag;
    float: right;
    background-image: url ("jag.webp");
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: 250px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 10px;
}

@media only screen and (min-width: 700px) { /*https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
    .hamburger { /*Removes hamburger hen screen is to big*/
        display: none;
    }
}

@media only screen and (max-width: 950px) { /*https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
    .gridartCo {
        grid-template-areas: 
        "tab1"
        "tab2"
        "footer";
    }   
    #table2 {
        margin-top: 0%;
    }
}
@media only screen and (max-width: 800px) { /*https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
    /*pictures*/
    #gridartpi {
        grid-template-areas: 
        "picnav pic1 "
        "picnav pic2"
        "footer footer";
    }
    .picture1 {
        width: 60vw;
        margin-bottom: 3em;
        padding-bottom: 0%;
    }
    .picture2 {
        width: 80vw;
        margin-top: 0%;
        padding-top: 0%;
        margin-bottom: 5em;
    }
}

@media only screen and (max-width: 700px) { /*https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
 

    .gridart {
        grid-template-areas: 
        "carrots"
        "rats"
        "christmas"
        "footer";
    }
    #tamrattor {
        margin-top: 0%;
    }
    #tamrattor .date {
        margin-top: 2em;
    }
    #tamrattor .text {
        margin-top: 2em;
    }
    #jul {
        margin-top: 0%;
    }
    #logo {
        margin-bottom: 10%;
    }
    .navlink {
        display: none;
    }
}

@media only screen and (max-width: 400px) { /*https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
 
    fieldset {
        grid-area: field;
        display: grid;  
        max-height: 100em;
    }
    label {
        padding-bottom: 1em;
        padding-top: 0%;
        text-align: center;
    }
    #namelabel {
        margin-top: 2em;
        padding-bottom: 0%;
    }
    /*about*/
    #gridartabout {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
        "om "
        "jag"
        "pres"    
        "footer";
    }
    #ommig {
        padding-left: 0%;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    #pres {
        padding-top: 0%;
        margin-top:0%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 80vw;
        padding-left: 20px;
        font-size: 25px;
        margin-bottom: 80px;
    }
        #jag {
        grid-area: jag;
        float: right;
        background-image: url ("jag.webp");
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20%;
        padding-top: 0%;
        margin-top: 20%;
        padding-bottom: 0%;
        padding-left: 5px;
    }  
}