.gridart {
    display: inline-grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 30% 10% 40% 10% 20% ;
    grid-template-columns: 5% 10% 5% 5% 30% 5% 30% 5% 5%;
}

.gridpics {
    display: inline-grid;
    grid-column-start: 4;
    grid-column-end:9;
    grid-row-start: 2;
    grid-row-end:5;
    width: auto;
    height: auto;
    grid-template-rows: 10% 80% 10% ;
    grid-template-columns: 5% 43% 5% 43% 5%;
    border: 2px  solid black;

}
.picture1 {
    display: flex;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    margin:auto;
}
.picture2 {
    display: flex;
    grid-column-start: 4;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    margin-top: auto;
    margin-bottom: auto;
    object-fit: scale-down;
}
#pic1 {
    margin: 10%;
}

#pic2 {
    margin: 10%;
}
#pic3 {
    margin: 10%;
}
.picnav {
    display: grid;
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 2px  solid black;
    margin:0%;
    Padding:0%;
    grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
    grid-template-columns: 10% 80% 10%;
}
.picnav nav {
    display: flex;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end: 10;
    align-items: center;
    justify-content: center;
}

.picnav ul {
    margin:0%;
    Padding:0%;
    align-items: center;
    justify-content: center;
}
.picnav li {
    display: flex;
    margin:0%;
    Padding:0%;
    align-items: center;
    justify-content: center;
}
/*Footer*/
footer {
    margin: 0%;
    grid-column-start:1;
    grid-column-end:8;
    grid-row-start:8;
    grid-row-end:11;
    display: inline-grid;
    background-color: grey;
    height: 100%;
    grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
    grid-template-columns: 5% 25% 8% 25% 8% 25% 5%  ;
}


@media only screen and (max-width: 900px) {
    .gridart {
        display: inline-grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: 30% 10% 40% 10% 20% 10% 10% ;
        grid-template-columns: 5% 15% 5% 5% 25% 5% 25% 5% 5%;
    }
    #pic1 {
        margin: 10%;
    }
    
    #pic2 {
        margin: 10%;
    }
    #pic3 {
        margin: 10%;
    }
    .picnav {
        display: grid;
        grid-column-start: 2;
        grid-column-end:2;
        grid-row-start: 3;
        grid-row-end: 4;
        border: 2px  solid black;
        margin:0%;
        Padding:0%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 10% 80% 10%;
    }
    
    .gridpics {
        display: inline-grid;
        grid-column-start: 4;
        grid-column-end:9;
        grid-row-start: 2;
        grid-row-end:4;
        width: auto;
        height: auto;
        grid-template-rows: 10% 80% 10% ;
        grid-template-columns: 5% 43% 5% 43% 5%;
        border: 2px  solid black;
    
    }
    .picture1 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:3;
        grid-row-start: 2;
        grid-row-end: 3;
        object-fit: scale-down;
        width: 100%;
        height: 100%;
        margin:auto;
    }
    .picture2 {
        display: flex;
        grid-column-start: 4;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        margin-top: auto;
        margin-bottom: auto;
        object-fit: scale-down;
    }
    footer {
        margin: 0%;
        grid-column-start:1;
        grid-column-end:8;
        grid-row-start: 5;
        grid-row-end:11;
        display: inline-grid;
        background-color: grey;
        height: 100%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%  ;
    }
    footer h2 {
        grid-column-start:2;
        grid-column-end:19;
        grid-row-start:1;
        grid-row-end:3;
        text-align: center;
    }
    #name {
        margin: 0%;
        grid-column-start:2;
        grid-column-end:9;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;

    
    }
    #date {
        margin: 0%;
        grid-column-start:9;
        grid-column-end:14;
        grid-row-start:5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    #link {
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    
    footer a {
        color: lightgrey;
        text-align: center;
        padding: 2px;
        text-decoration: none;
        border: 2px  solid black;
        max-width:60px;
        min-width: 60px;
        font-size: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
        background-color: #9e1e1e;
    }
    footer a:hover {
        background-color: lightgray;
        color: black;
      }
      footer a:active {
        background-color: white;
        color: black;
      }
      footer a:visited {
        background-color: #bc3b3b;
      }
    #index {
        grid-column-start: 2;
        grid-row-start:9;  
        margin: 0%;
        padding: 0%;
    }
    
    #coursers {
        grid-column-start: 6;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #pictures {
        grid-column-start: 10;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #contact {
        grid-column-start: 14;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #about {
        grid-column-start: 18;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;  
    }
}

@media only screen and (max-width: 700px) {
    
    .gridart {
        display: inline-grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: 30% 10% 40% 50% 10% 20% 10% 10% ;
        grid-template-columns: 5% 15% 5% 5% 25% 5% 25% 5% 5%;
    }
    #pic1 {
        margin: 10%;
    }
    
    #pic2 {
        margin: 10%;
    }
    #pic3 {
        margin: 10%;
    }
    .picnav {
        display: grid;
        grid-column-start: 2;
        grid-column-end:2;
        grid-row-start: 3;
        grid-row-end: 4;
        border: 2px  solid black;
        margin:0%;
        Padding:0%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 10% 80% 10%;
    }
    
    .gridpics {
        display: inline-grid;
        grid-column-start: 4;
        grid-column-end:9;
        grid-row-start: 2;
        grid-row-end:5;
        width: auto;
        height: auto;
        grid-template-rows: 10% 35% 10% 35% 10% ;
        grid-template-columns: 5% 43% 5% 43% 5%;
        border: 2px  solid black;
    
    }
    .picture1 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end: 3;
        object-fit: scale-down;
        width: 100%;
        height: 100%;
        margin:auto;
    }
    .picture2 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:5;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        margin-top: auto;
        margin-bottom: auto;
        object-fit: scale-down;
    }
    footer {
        margin: 0%;
        grid-column-start:1;
        grid-column-end:8;
        grid-row-start: 6;
        grid-row-end:11;
        display: inline-grid;
        background-color: grey;
        height: 100%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%  ;
    }
    footer h2 {
        grid-column-start:2;
        grid-column-end:19;
        grid-row-start:1;
        grid-row-end:3;
        text-align: center;
    }
    #name {
        margin: 0%;
        grid-column-start:2;
        grid-column-end:9;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;

    
    }
    #date {
        margin: 0%;
        grid-column-start:9;
        grid-column-end:14;
        grid-row-start:5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    #link {
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    
    footer a {
        color: lightgrey;
        text-align: center;
        padding: 2px;
        text-decoration: none;
        border: 2px  solid black;
        max-width:60px;
        min-width: 60px;
        font-size: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
        background-color: #9e1e1e;
    }
    footer a:hover {
        background-color: lightgray;
        color: black;
      }
      footer a:active {
        background-color: white;
        color: black;
      }
      footer a:visited {
        background-color: #bc3b3b;
      }
    #index {
        grid-column-start: 2;
        grid-row-start:9;  
        margin: 0%;
        padding: 0%;
    }
    
    #coursers {
        grid-column-start: 6;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #pictures {
        grid-column-start: 10;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #contact {
        grid-column-start: 14;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #about {
        grid-column-start: 18;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;  
    }
}
@media only screen and (max-width: 500px) {
    
    .gridart {
        display: inline-grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-columns: 2% 20% 5% 5% 25% 5% 25% 5% 5%;
    }
    #pic1 {
        margin: 10%;
    }
    
    #pic2 {
        margin: 10%;
    }
    #pic3 {
        margin: 10%;
    }
    .picnav {
        display: grid;
        grid-column-start: 2;
        grid-column-end:2;
        grid-row-start: 3;
        grid-row-end: 7;
        border: 2px  solid black;
        margin:0%;
        Padding:0%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 10% 80% 10%;
    }
    
    .gridpics {
        display: inline-grid;
        grid-column-start: 4;
        grid-column-end:9;
        grid-row-start: 3;
        grid-row-end:7;
        width: auto;
        height: auto;
        grid-template-rows: 10% 35% 10% 35% 10% ;
        grid-template-columns: 5% 43% 5% 43% 5%;
        border: 2px  solid black;
    
    }
    .picture1 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end: 3;
        object-fit: scale-down;
        width: 100%;
        height: 100%;
        margin:auto;
    }
    .picture2 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:5;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        margin-top: auto;
        margin-bottom: auto;
        object-fit: scale-down;
    }
    footer {
        margin: 0%;
        grid-column-start:1;
        grid-column-end:8;
        grid-row-start: 8;
        grid-row-end:14;
        display: inline-grid;
        background-color: grey;
        height: 100%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%  ;
    }
    footer h2 {
        grid-column-start:2;
        grid-column-end:19;
        grid-row-start:1;
        grid-row-end:3;
        text-align: center;
    }
    #name {
        margin: 0%;
        grid-column-start:2;
        grid-column-end:9;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;

    
    }
    #date {
        margin: 0%;
        grid-column-start:9;
        grid-column-end:14;
        grid-row-start:5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    #link {
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    
    footer a {
        color: lightgrey;
        text-align: center;
        padding: 2px;
        text-decoration: none;
        border: 2px  solid black;
        max-width:60px;
        min-width: 60px;
        font-size: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
        background-color: #9e1e1e;
    }
    footer a:hover {
        background-color: lightgray;
        color: black;
      }
      footer a:active {
        background-color: white;
        color: black;
      }
      footer a:visited {
        background-color: #bc3b3b;
      }
    #index {
        grid-column-start: 2;
        grid-row-start:9;  
        margin: 0%;
        padding: 0%;
    }
    
    #coursers {
        grid-column-start: 6;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #pictures {
        grid-column-start: 10;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #contact {
        grid-column-start: 14;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #about {
        grid-column-start: 18;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;  
    }
}
@media only screen and (max-width: 300px) {
    
    .gridart {
        display: inline-grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-columns: 2% 25% 5% 5% 20% 5% 25% 5% 5%;
    }
    #pic1 {
        margin: 10%;
    }
    
    #pic2 {
        margin: 10%;
    }
    #pic3 {
        margin: 10%;
    }
    .picnav {
        display: grid;
        grid-column-start: 2;
        grid-column-end:2;
        grid-row-start: 3;
        grid-row-end: 7;
        border: 2px  solid black;
        margin:0%;
        Padding:0%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
        grid-template-columns: 10% 80% 10%;
    }
    
    .gridpics {
        display: inline-grid;
        grid-column-start: 4;
        grid-column-end:9;
        grid-row-start: 3;
        grid-row-end:7;
        width: auto;
        height: auto;
        grid-template-rows: 10% 35% 10% 35% 10% ;
        grid-template-columns: 5% 43% 5% 43% 5%;
        border: 2px  solid black;
    
    }
    .picture1 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end: 3;
        object-fit: scale-down;
        width: 100%;
        height: 100%;
        margin:auto;
    }
    .picture2 {
        display: flex;
        grid-column-start: 2;
        grid-column-end:5;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        margin-top: auto;
        margin-bottom: auto;
        object-fit: scale-down;
    }
    footer {
        margin: 0%;
        grid-column-start:1;
        grid-column-end:8;
        grid-row-start: 8;
        grid-row-end:20;
        display: inline-grid;
        background-color: grey;
        height: 100%;
        grid-template-rows: 5% 15% 5% 15% 5% 15% 5% 15% 5% 10% 5% 10% 5% 10%;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%  ;
    }
    footer h2 {
        grid-column-start:2;
        grid-column-end:19;
        grid-row-start:1;
        grid-row-end:3;
        text-align: center;
    }
    #name {
        margin: 0%;
        grid-column-start:2;
        grid-column-end:9;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;

    
    }
    #date {
        margin: 0%;
        grid-column-start:9;
        grid-column-end:14;
        grid-row-start:5;
        grid-row-end: 6;
        margin: 0%;
        padding: 0%;
    }
    #link {
        grid-column-start: 8;
        grid-column-end: 21;
        grid-row-start: 7;
        grid-row-end: 7;
        margin: 0%;
        padding: 0%;
    }
    
    footer a {
        color: lightgrey;
        text-align: center;
        padding: 2px;
        text-decoration: none;
        border: 2px  solid black;
        max-width:60px;
        min-width: 60px;
        font-size: 16px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
        background-color: #9e1e1e;
    }
    footer a:hover {
        background-color: lightgray;
        color: black;
      }
      footer a:active {
        background-color: white;
        color: black;
      }
      footer a:visited {
        background-color: #bc3b3b;
      }
    #index {
        grid-column-start: 2;
        grid-row-start:9;  
        margin: 0%;
        padding: 0%;
    }
    
    #coursers {
        grid-column-start: 9;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #pictures {
        grid-column-start: 15;
        grid-row-start:9;
        margin: 0%;
        padding: 0%;   
    }
    
    #contact {
        grid-column-start: 7;
        grid-row-start:11;
        margin: 0%;
        padding: 0%;   
    }
    
    #about {
        grid-column-start: 13;
        grid-row-start:11;
        margin: 0%;
        padding: 0%;  
    }
}