
@font-face {
    font-family: sf_pro;
    src: url(SF-Pro-Display-Black.otf);
  }
  @font-face {
    font-family: sf_pro_txt;
    src: url(SF-Pro-Text-Light.otf);
  }
  @font-face {
    font-family: open_sans;
    src: url(OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: inter;
    src: url(Inter-Regular.ttf);
  }

#container {
    max-width: 1600px;
    display: grid;  /* https://www.w3schools.com/css/css_grid.asp*/
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:    auto;
    grid-template-areas: 
    "logo    logo       kurser   kurser"
    "  ar       ar     kurser      kurser "
    " ci       ci      ci      ci   "
    " kurser2      kurser2      kurser2     . " 
    " footer      footer    footer   footer";
}
#logo {
    grid-area: logo;
    max-width: 80px;
    max-height: 70px;
}
#kurser {
    grid-area: kurser;
    height:auto;
    background-color: #2F80ED;
    color: white;
    border-radius: 0px 0px 0px 100px; /*https://www.w3schools.com/css/css3_borders.asp*/
    padding: 0%;
    margin: 0%;
    width: 100%;
    padding-bottom: 3em;
}

#kursertop {
    padding-top: 10%;
    padding-bottom: 3%;
    font-family: open_sans;
    font-weight: 600;  
}
#kurser p {
    font-size:12px;
    font-family: open_sans;
    font-weight: 400;
    padding-left: 100px; 
    ;
}
article {
    grid-area: ar;
    padding-top:0%;
    padding-left:10%;
    margin: 0%;
    padding-right: 0%;
    max-width: 40vw;
}
h1 {
    font-size: 36px;
    font-family: sf_pro;
    font-weight: 100;
    padding:0%;
    margin:0%;
}
article p {
    
    font-size: 12px;
    font-family: sf_pro_txt;
    font-weight: 600;
    padding-top: 4%;
    line-height: 25px;
    padding: 0%;
    margin-right:2em;
}   
#containerimg {
    grid-area: ci;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:    auto;
    grid-template-areas: 
    "p1 p2 p3 p4";
    max-width: 1600px;
    margin-bottom: 4em;
    margin-top: 4em;
}
#containerimg img {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}
#pic1 {
    grid-area: p1;
}
#pic2 {
    grid-area: p2;
}
#pic3 {
    grid-area: p3;
}
#pic4 {
    grid-area: p4;    
}
#kurser2 {
    grid-area: kurser2;
    background-color: #E0ECFD;
    border-radius: 0px 50px 50px 0px ;
    padding: 0%;
    margin: 0%;
    max-width: 60vw;
    margin-bottom: 80px;
    padding-bottom: 30px;
}
#kurser2 h2 {
    
    font-size:30px;
    font-family: open_sans;
    font-weight: 600;
    line-height: 1;
    margin-left: 50px;
    letter-spacing: -0.04em;
    color: #2F80ED;
}
#kurser2 p {
    
    font-size:20px;
    font-family: open_sans;
    font-weight: 400;
    line-height: 1em;
    margin-left: 50px;
}
footer {
    grid-area: footer;
    background-color: #2F80ED;
    line-height: 25px;
    font-weight: 100;
    font-size: 16px;
    color: white;
    font-family: inter;
    width:100%;
    height:100%;
}
footer p {
    padding-left:6%
}

@media (max-width: 1024px){
    #container {
        max-width: 1024px;
        grid-template-areas: 
        "logo    logo       kurser   kurser"
        "  ar       ar     kurser      kurser "
        " ci       ci      ci      ci   "
        " ci       ci      ci      ci   "
        " kurser2      kurser2      kurser2     . " 
        " footer      footer    footer   footer";
    }
    #containerimg {
        grid-area: ci;
        grid-template-areas: 
        "p1 p2"
        "p3 p4";
        max-width: 100vw;
        margin: 0%;
        margin-top: 1em;
        margin-bottom: 2em;
        padding: 0%;
    }
    #containerimg img {
        width: 40vw;
        padding: 0%;
        margin: 0%;
        height: 80%;  
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    #kurser {
        width: 100%;
    }
    #kurser2 {
        max-width: 80vw;
    }
}
@media (max-width: 600px){
    #container {
        max-width: 600px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "  ar"
        " kurser2 " 
        " ci  "
        " footer ";
    }
    #kurser {
        display: none;
    }
    article {
        max-width: 90vw;
        margin-top: 15%;
        margin-bottom: 4%;
    }
    #containerimg {
        grid-area: ci;
        grid-template-areas: 
        "p1"
        "p2"
        "p3"
        "p4";
        max-width: 600px;
    }
    #containerimg img {
        width: 100vw;
        border-radius: 0px;
        margin: 0%;
        padding: 0%;
    }
    #kurser {
        width: 100%;
    }
    #kurser2 {
        max-width: 80vw;
    }
}