@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html {
    font-size: 62.5%;
}
body {
    margin: 0%;
    background-color: gray;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 100;
    line-height: 3em;
}
/*Grid main*/
#ContFp {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". he ."
    ". he ."
    ". he ."
    ". button ."
    ". button ."
    ". button ."
    ". . .";
    background-color: #424141;
    color: white;
    max-width: 1024px;
    min-height: 100vh;
  
}
/*Grid headers*/
#HeaderFp {
    margin: 0%;
    padding: 0%;
    padding-top: 15%;
    text-align: center;
    grid-area: he;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 45% 15% 20%;
    grid-template-areas: 
    "."
    "h1"
    "h2"
    "h4"
}
#NameFp {
    grid-area: h1;
    margin: 0%;
    padding: 0%;
    font-family: 'Marck Script', cursive;
    font-weight: 200;
    font-size: 6rem;
}
#DevFp {
    grid-area: h2;
    margin: 0%;
    padding: 0%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
}
#ProgFp {
    grid-area: h4;
    margin: 0%;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
}
/*Grid Buttons*/
#ButtonsContainerFp {
    grid-area: button;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 20% 20% 20% 30%;
    grid-template-areas: 
    " . "
    " p  "
    " a "
    " c "
    " . ";
}
/*Buttons index*/
Button {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #BE0000;
    border: 2px solid black;
    margin: 1%;
    padding:0%;
    width:25rem;
    height:5rem;
    margin-left:auto;
    margin-right: auto;
}
button a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
button:hover{
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.5); 
}
#PortfolioButtonFp {
    grid-area: p;
}
#AboutMeButtonFp {
    grid-area: a;
}
#ContactMeButtonFp {
    grid-area: c;

}

/*Portfolio*/
#ContainerPo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    
    ". PPres PPres ."
    "line1 line1 line1 line1"
    "PCont PCont PCont PCont"
    "line2 line2 line2 line2"
    "footer footer footer footer";
    background-color: #424141;
    color: white;
    max-width: 1024px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;  
}
#HeaderPo {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;
    width: 100%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo nav nav";
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
}
#LogoButton {
    margin: 0%;
    margin-left: 10%;
    grid-area: logo;
    background-color: rgba(0,0,0,0);
    border: none;
    margin-top: 8%;
    font-family: 'Marck Script', cursive;
}
#LogoButton a {
    font-size: 3rem;
}
nav {
    margin-right: 2%;
}
nav button {
    max-width: 17%;
    padding: 0%;
    margin: 0.3%;
    margin-top: 2%;
    margin-right: 2%;
    max-height: 55%;
    float: right;
   grid-area: nav;
   min-width: 80px;
}
#PortPres {
    display: flex;
    grid-area: PPres;
    font-size: 2.2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    margin-top: 170px;
    margin-bottom: 10%;
}

.line {
    background-color: #BE0000;
    max-height: 100%;
    margin: 0%;
    min-height: 100%;
    margin-top: 0.5%;
}
#line1 {
    grid-area: line1;
    display: flex;
}

#projectsCont {
    grid-area: PCont;
    display: grid;
    margin-top: 10%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "port1 port2"
    "port3  port4"
    ;
}
.port{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20%;
}
button:disabled {
    background-color: grey;
    color: black;
    font-size: 2rem;
}
.port button {
    max-width: 60%;
    max-height: 30%;
}
.port h2 {
    font-size:2rem;
    margin: 0%;
}
.port h4 {
    font-size: 1.5rem;
    margin: 0%;
    margin-top: 2%;
    margin-bottom: 10%;
}
#port1 {
    grid-area: port1;
}
#port2 {
    grid-area: port2;
}
#port3 {
    grid-area: port3;
}
#port4 {
    grid-area: port4;
}
#line2 {
    grid-area: line2;
    display: flex;
}

footer {
    grid-area: footer;
    display: grid;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1.7rem;
    font-weight: 100;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". namefoot ."
    "schoolfoot mailfoot yearfoot"
    ;
    text-align: center;
}
#SchoolFoot {
    grid-area: schoolfoot ;
}
#YearFoot {
    grid-area: yearfoot;
}
#NameFoot {
    grid-area: namefoot;
    font-family: 'Marck Script', cursive;
    font-weight: 400;
    font-size: 4rem;
    margin:0%;
    margin-bottom: 10%;

}
#MailFoot {
    grid-area: mailfoot;
}
#ContainerP01 { /*Main container*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "empty empty empty empty"    
    "HCP2 HCP2 HCP2 HCP2"
    "PC PC PC PC"
    "lp2 lp2 lp2 lp2"
    "footer footer footer footer";
    background-color: #424141;
    color: white;
    max-width: 1024px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;    
}
.empty {
    grid-area: empty;
    height:100px;
}
/*Container for the portfolio headers*/
#HeadContPort2 {
    grid-area: HCP2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    
    "HP2"
    "H2P2";
    background-color: #303030;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding-bottom: 3%;
    
} 
#HeadPort2{  /*Header H1*/
    grid-area: HP2;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
}
#Head2Poet2 { /*Header h3*/
    grid-area: H2P2;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}
/*Container for the projects*/
#ProjectsCont {
    grid-area: PC;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:    
    "P1 ."
    ;
    margin-top: 15%;
    margin-bottom: 15%;

}
#Project1 {
    grid-area: P1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:    
    "hs1"
    "img1"
    "more1"
    ;
    text-align: center;
}
#HeaderStudera {
    grid-area: hs1;

}
img{
    grid-area: img1;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
}
#MoreToCome {
    grid-area: more1;
}
#LinePo2 {
    grid-area: lp2;
}

#ContainerAbout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "empty "    
    "HAbout"
    "A"
    "lA"
    "footer";
    background-color: #424141;
    color: white;
    max-width: 1024px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
#HeadAbout {
    margin-top: 10%;
    grid-area: HAbout;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 6%;
}
article {
    grid-area: A;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    margin-bottom: 15%;
}
#LineAbout{
    grid-area: lA;
}
#ContainerContact {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "empty"
    "HC"    
    "CI"
    "F"
    "LC"
    "footer";
    background-color: #424141;
    color: white;
    max-width: 1024px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
#HeadContact {
    grid-area: HC;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
}
#ContactInfo {
    grid-area: CI;
    font-size: 2rem;
    text-align: center  ;
}
form {
    margin-bottom: 10%;
    font-size: 2rem;
    margin-left: 20%;
    margin-right: 32%;
    grid-area: F;
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "NCT NameCo NameCo"
    "RT Reason Reason"    
    "MT Message Message"
    ". Submit Reset";
}
#NameCoTx {
    grid-area: NCT;
    min-height: 60px;
}
#NameCo {
    grid-area: NameCo;
    margin-bottom: 10%;
}
#ReasonTx {
    grid-area: RT;
    min-height: 60px;
}
#Reason {
    grid-area: Reason;
    margin-bottom: 10%;
}
#MessageTx {
    grid-area: MT;
    min-height: 200px;
}
#Message {
    grid-area: Message;
    margin-bottom: 10%;
}
#submit {
    grid-area: Submit;
    max-width: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    background-color: #BE0000;
    color: white;
    height:40px
}
#reset {
    margin-left: 40%;
    grid-area: Reset;
    max-width: 80px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    height:40px
}
#LineContact {
    grid-area: LC;
}

/*mobile index*/

@media screen and (max-width:800px) {
    #PortPres {
        max-width:90%
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: #424141;
    }
    #SchoolFoot {
        display: none;
    }
    #MailFoot {
        padding: 0%;
        margin: 0%;
        margin-top: 7%
    }
    #YearFoot {
        padding: 0%;
        margin: 0%;
        margin-top: 7%;
        display: none;
    }
    form {
        margin-left:5%
    }
}
