#ContainerContact {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "empty"
    "HC"    
    "CI"
    "F"
    "LC"
    "footer";
    background-color: #424141;
    color: white;
    max-width: 1024px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
#HeadContact {
    grid-area: HC;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
}
#ContactInfo {
    grid-area: CI;
    font-size: 2rem;
    text-align: center  ;
}
form {
    margin-bottom: 10%;
    font-size: 2rem;
    margin-left: 30%;
    margin-right: 30%;
    grid-area: F;
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "NCT NameCo NameCo"
    "RT Reason Reason"    
    "MT Message Message"
    ". Submit Reset";
}
#NameCoTx {
    grid-area: NCT;
    min-height: 60px;
}
#NameCo {
    grid-area: NameCo;
    margin-bottom: 10%;
}
#ReasonTx {
    grid-area: RT;
    min-height: 60px;
}
#Reason {
    grid-area: Reason;
    margin-bottom: 10%;
}
#MessageTx {
    grid-area: MT;
    min-height: 200px;
}
#Message {
    grid-area: Message;
    margin-bottom: 10%;
}
#submit {
    grid-area: Submit;
    max-width: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    background-color: #BE0000;
    color: white;
}
#reset {
    margin-left: 40%;
    grid-area: Reset;
    max-width: 80px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
}
#LineContact {
    grid-area: LC;
}